go 1.22.1

// workspace:
use (
	./packages/go-crawler/try-playwright
	./packages/go-crypto/try-binance
	./packages/go-gui/try-go-echart
	./packages/go-gui/try-wails-vue
	./packages/go-gui/try-wails-vue-quasar
	./packages/try/fiber
	./packages/try/go-kratos
	./packages/try/go-zero
)
